<!-- This is the master html file that we'll use as a skeleton for the other pages. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Creating a head block using Jinja syntax to inherit from this master page -->
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Creating a body block -->
    {% block body %}{% endblock %}
</body>
</html>